* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(131, 233, 145);
}
.main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    list-style: none;
    display: flex;
}
li{
    margin: 0 20px;
    padding: 10px 20px;
    position: relative;
    transition: all 0.2s;
    transition-delay: 0.2s;
}
a{
    color: #ffff;
    text-decoration: none;
}
li::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: white;
    transition: all 0.2s;
}
li:hover::before{
    bottom: 40px;
    background: rgb(3, 71, 7);
}
li:hover{
    background: rgb(3,71,7);
}